/* HEADER */

.bg-container {
    background-color: #add8e6;
    padding: 1rem;
}

header {
    height: 50px;
    background-color: #daa521;
    margin: 20px;    
}

.container-header {
    align-items: center;
}

.nav {
    flex-grow: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.logo,
.login {
    width: 20%;
    height: 50px ;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.login {
   justify-content: flex-end;
}

li > a {
    margin: 0 10px;
    color: black;
}

.nav > ul {
    justify-content: center;
}

/* MAIN */

    /* Section "one" */

.bg-container-one {
    background-color: #00008b;
    border-bottom: 2px solid #abd7e5;
}

.one,
.two,
.three,
.four {
    height: 500px;
    padding: 2rem 0;
}

.box-top {
    width: 80%;
    height: 100%;
    background-color: #ee81ee;
    margin: 0 auto;
} 

    /* Section "two" */

    .two-left {
        flex-grow: 2;
        background-color: #1d90ff;
    }

    .two-right {
        flex-grow: 1;
        background-color: #ffc1cb;
    }

        /* Section "three" */

    .bg-container-three {
        background-color: #d3d3d3;
    }

    .three-left {
        flex-grow: 1;
        background-color: #ffc1cb;
    }

    .three-right {
        flex-grow: 2;
        background-color: #1d90ff;
    }
    
    /* Section "four" */

        .four-left {
            flex-grow: 2;
            background-color: #1d90ff;
        }
    
        .four-right {
            flex-grow: 1;
            background-color: #ffc1cb;
        }

        /* Section "five" */

        .five-box {
            height: 800px;
            background-color: #238b21;
        }

        .bg-container-five {
            background-color: #d3d3d3;
        }

        .five {
            padding: 2rem 0;
        }