/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.c-flex {
	display: flex;
}

.dashed {
	border: 3px dashed black;
}

a {
	text-decoration: none;
}
 
li {
	list-style-type: none ;
}
